<p>Connect with a web3 wallet</p>
<p-toast />
<div class="grid p-4 h-6">
  <div
    class="col-6 flex flex-column align-items-center cursor-pointer"
    (click)="connectWallet('metamask')"
  >
    <img
      src="https://cdn.prod.website-files.com/65d57c69932a9378b87f5562/65d6e5f2c0e39596c507823a_MetaMask_Fox.svg"
      alt="Metamask"
      height="100px"
      width="100px"
      class="wallet-icon"
    />
    <h2>Metamask Wallet</h2>
  </div>
  <div
    class="col-6 flex flex-column align-items-center cursor-pointer"
    (click)="connectWallet('coinbase')"
  >
    <img
      src="https://cdn.prod.website-files.com/65d57c69932a9378b87f5562/65d6e446dfaa8125ae410313_coinbase-wallet-logo.svg"
      height="100px"
      width="100px"
      alt="Metamask"
      class="wallet-icon"
    />
    <h2>Coinbase Wallet</h2>
  </div>
  <!-- <div
    class="col-4 flex flex-column align-items-center  cursor-pointer"
    (click)="connectWallet('walletconnect')"
  >
    <img
      src="https://cdn.prod.website-files.com/65d57c69932a9378b87f5562/6717a73b18f6a40d53998e9b_walletconnect_150x150.png"
      alt="Metamask"
      height="100px"
      width="100px"
      class="wallet-icon"
    />
    <h2>Wallet Connect</h2>
  </div> -->
</div>
<div class="flex p-3 align-items-center justify-content-center">
  <p-checkbox
    [(ngModel)]="termsAccepted"
    [binary]="true"
    inputId="binary"
    class="mr-3"
  />
  <p>
    You accept our
    <a
      href="https://github.com/tig-foundation/tig-monorepo/tree/main/docs/agreements/game_terms.pdf"
      target="_blank"
      class="terms-and-cons"
      >Terms and Conditions</a
    >
  </p>
</div>
