@if(tigService.latest_block()){
  <div class="grid p-3">
    <div class="col-4 p-4">
      <p-card header="Price" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.price_info()){
            <p>Price : <b>{{tigService.price_info().priceUsd | currency}}</b></p>
            <p>24 Hour Volume : <b>{{tigService.price_info().volume.h24 | currency}}</b></p>
          }
         @else {
          <p>Could not get Price Info</p>
         }
        </div>
      </p-card>
    </div>  
    <div class="col-4 p-4">
      <p-card header="Earnings" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Round Earnings : <b>{{tigService.player_stats().round_earnings| number : '1.2-2'}}</b></p>
            <p>Latest Earnings : <b>{{tigService.player_stats().reward | number : '1.2-2'}}</b></p>
          }
         @else {
          <p>Could not get Earnings Info</p>
         }
        </div>
      </p-card>
     
    </div>  
    <div class="col-4 p-4">
      <p-card header="Fees" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Available Fees : <b>{{tigService.player_stats().available_fee_balance| number : '1.2-2'}}</b></p>
            <p-button label="Top Up" [rounded]="true"></p-button>
          }
         @else {
          <p>Could not get Fee Info</p>
         }         
        </div>
      </p-card>
     
    </div>  
    </div>
}
<div class="w-full">
  <p-chart type="line" [data]="line_data" [options]="line_options" />
</div>
<br>
<p-card header="Benchmarks">
  <p class="m-0">
    Table of player’s benchmarks (more detailed version of
    play.tig.foundation..) Display difficulty, and submission delay
    @if(benchmarks()){
        <p-table
        #benchmarksTable
        [value]="benchmarks()"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="[
          'challenge',
          'algorithm',
          'status',
          'age',
          'solutions',
          'difficulty',
          'submission_delay'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <app-edit-settings-dialog [title]="'Algorithm Settings'" [view]="'algos'"></app-edit-settings-dialog>
            <p-iconField iconPosition="left" class="ml-auto">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                (input)="
                  benchmarksTable.filterGlobal(
                    $any($event.target).value || '',
                    'contains'
                  )
                "
                placeholder="Search keyword"
              />
            </p-iconField>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
            <th pSortableColumn="challenge">
              Challenge <p-sortIcon field="challenge" />
            </th>
            <th pSortableColumn="algorithm">
              Algorithm <p-sortIcon field="algorithm" />
            </th>
            <th pSortableColumn="solutions">
              # Solutions <p-sortIcon field="solutions" />
            </th>
            <th pSortableColumn="difficulty">
              Difficulty <p-sortIcon field="difficulty" />
            </th>
            <th pSortableColumn="submission_delay">
              Submission Delay <p-sortIcon field="submission_delay" />
            </th>
            <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-benchmark>
          <tr>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.age }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.challenge }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.algorithm }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.solutions }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.difficulty }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                {{ benchmark.submission_delay }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center align-items-center">
                <p-tag
                  [severity]="
                    benchmark.status == 'Completed'
                      ? 'success'
                      : benchmark.status == 'In Progress'
                      ? 'warning'
                      : 'info'
                  "
                  [value]="benchmark.status"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
    @else {
        <div class="flex w-full justify-content-center align-items-center">
            <p-progressSpinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration="1.5s" />
        </div>
    }

  </p>
</p-card>
<br>
@if(tigService.latest_block()){
  <div class="grid p-3">
    <div class="col-6 p-4">
      <p-card header="Cutoff" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Cutoff : <b>{{tigService.player_stats().cutoff| number : '1.2-2'}}</b></p>
            <p>Influence : <b>{{tigService.player_stats().influence | number : '1.2-2'}}</b></p>
          }
         @else {
          <p>Could not get Cutoff Info</p>
         }
        </div>
      </p-card>
     
    </div>  
    <div class="col-6 p-4">
      <p-card header="Imbalance" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Imbalance : <b>{{tigService.player_stats().imbalance| number : '1.2-2'}}</b></p>
            <p>Imbalance Penalty : <b>{{tigService.player_stats().imbalance_penalty | number : '1.2-2'}}</b></p>
          }
         @else {
          <p>Could not get Imbalance Info</p>
         }         
        </div>
      </p-card>
     
    </div>  
    </div>
}

<p-card header="Solutions">
    Summary table of solutions #Solutions & cutoff Qualifiers, imbalance
    @if(solutions()){
    <p-table
      #solutionsTable
      [value]="solutions()"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="[
        'age',
        'solutions',
        'difficulty',
        'qualifiers',
        'imbalance'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <app-edit-settings-dialog [title]="'Algorithm Settings'" [view]="'algos'"></app-edit-settings-dialog>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="
                solutionsTable.filterGlobal(
                  $any($event.target).value || '',
                  'contains'
                )
              "
              placeholder="Search keyword"
            />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
          <th pSortableColumn="solutions">
            # Solutions <p-sortIcon field="solutions" />
          </th>
          <th pSortableColumn="difficulty">
            Difficulty <p-sortIcon field="difficulty" />
          </th>
          <th pSortableColumn="qualifiers">
            # Qualifiers <p-sortIcon field="qualifiers" />
          </th>
          <th pSortableColumn="imbalance">Imbalance <p-sortIcon field="imbalance" /></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-benchmark>
        <tr>
          <td>
            <div class="flex justify-content-center align-items-center">
              {{ benchmark.age }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center">
              {{ benchmark.solutions }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center">
              {{ benchmark.difficulty }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center">
              {{ benchmark.qualifiers }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center align-items-center">
              <p-tag
                [severity]="
                  benchmark.imbalance >= 1
                    ? 'success'
                    : benchmark.imbalance > 0.5
                    ? 'warning'
                    : 'info'
                "
                [value]="benchmark.imbalance"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
}
@else {
    <div class="flex w-full justify-content-center align-items-center">
        <p-progressSpinner 
styleClass="w-4rem h-4rem" 
strokeWidth="8" 
fill="var(--surface-ground)" 
animationDuration="1.5s" />
    </div>
}
</p-card>
<br>
@if(tigService.latest_block()){
  <div class="grid p-3">
    <div class="col-4 p-4">
      <p-card header="Deposit" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.price_info()){
            <p>Locked  : <b>{{tigService.player_stats().available_fee_balance| number : '1.2-2'}}</b></p>
            <p-button label="Deposit Now" [rounded]="true"></p-button>
          }
         @else {
          <p>Could not get Price Info</p>
         }
        </div>
      </p-card>
    </div>  
    <div class="col-4 p-4">
      <p-card header="Delegate" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Total Delegated : <b>{{tigService.player_stats().round_earnings| number : '1.2-2'}}</b></p>
            <p-button label="Change Fee" [rounded]="true"></p-button>
          }
         @else {
          <p>Could not get Earnings Info</p>
         }
        </div>
      </p-card>
     
    </div>  
    <div class="col-4 p-4">
      <p-card header="Delegators" class="w-full ">
        <div class="flex flex-column  justify-content-center align-items-center">
          @if(tigService.player_stats()){
            <p>Delegator 1</p>
            <p>Delegator 2</p>
          }
         @else {
          <p>Could not get Fee Info</p>
         }         
        </div>
      </p-card>
     
    </div>  
    </div>
}

