<div class="w-full h-full flex justify-content-center align-items-center">
  <form [formGroup]="authFrom">
    <div style="margin-top: -20%">
      <span class="p-text-secondary block mb-5"
        >Enter your Tig Player ID and API Key</span
      >
      <div class="flex align-items-center gap-3 mb-3">
        <label for="player_id" class="font-semibold w-6rem"
          >Player ID</label
        >
        <input
          pInputText
          id="player_id"
          class="flex-auto"
          formControlName="player_id"
          autocomplete="off"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="api_key" class="font-semibold w-6rem">API Key</label>
        <input
          pInputText
          id="api_key"
          class="flex-auto"
          formControlName="api_key"
          autocomplete="off"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Submit" severity="success" rounded="true" [disabled]="authFrom.invalid" (click)="saveDetails()" [loading]="loading" />
      </div>
    </div>
  </form>
</div>
