[package]
name = "tig-challenges"
version = "0.1.0"
readme = "README.md"
authors.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.81"
ndarray = "0.15.6"
rand = { version = "0.8.5", default-features = false, features = ["std_rng"] }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = { version = "1.0.113" }
