@if(view() == 'all'){
<h1>Settings</h1>
} @if(settings()){
<form [formGroup]="formGroup">
  <div class="grid">
    @if(view() == 'all' || view() == 'general'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Batch Sizes" class="w-full">
        <div class="p-3 pb-0">
          <h2>General</h2>
          @if(view() == 'all' || view() == 'batch_sizes'){
          <div class="field">
            <label for="firstname1">Max Pending Batches</label>
            <p-inputNumber
              inputId="max_pending_benchmarks"
              [style]="{ width: '100%' }"
              formControlName="max_pending_benchmarks"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'batch_sizes' || view() ==
    'satisfiability' || view() == 'vehicle_routing' || view() == 'knapsack' ||
    view() == 'vector_search'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Batch Sizes" class="w-full">
        <div class="p-3 pb-0">
          <h2>Batch Size</h2>
          @if(view() == 'all' || view() == 'batch_sizes' || view() ==
          'satisfiability'){
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-inputNumber
              inputId="satisfiability_batch_size"
              [style]="{ width: '100%' }"
              formControlName="satisfiability_batch_size"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'batch_sizes' || view() ==
          'vehicle_routing'){
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-inputNumber
              inputId="vehicle_routing_batch_size"
              [style]="{ width: '100%' }"
              formControlName="vehicle_routing_batch_size"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'batch_sizes' || view() ==
          'knapsack'){
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-inputNumber
              inputId="knapsack_batch_size"
              [style]="{ width: '100%' }"
              formControlName="knapsack_batch_size"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'batch_sizes' || view() ==
          'vector_search'){
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-inputNumber
              inputId="vector_search_batch_size"
              [style]="{ width: '100%' }"
              formControlName="vector_search_batch_size"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'algos' || view() == 'satisfiability' ||
    view() == 'vehicle_routing' || view() == 'knapsack' || view() ==
    'vector_search'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Algorithm Selection" class="w-full">
        <div class="p-3 pb-0">
          <h2>Algorithm Selection</h2>
          @if(view() == 'all' || view() == 'algos' || view() ==
          'satisfiability'){
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-dropdown
              formControlName="satisfiability_algorithm"
              [options]="satisfiability_algos"
              optionLabel="name"
              styleClass="w-full"
              placeholder="Select a Satisfiability Algorithm"
            />
          </div>
          } @if(view() == 'all' || view() == 'algos' || view() ==
          'vehicle_routing'){
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>

            <p-dropdown
              formControlName="vehicle_routing_algorithm"
              [options]="vehicle_routing_algos"
              optionLabel="name"
              styleClass="w-full"
              placeholder="Select a Vehicle Routing Algorithm"
            />
          </div>
          }@if(view() == 'all' || view() == 'algos' || view() == 'knapsack'){
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-dropdown
              formControlName="knapsack_algorithm"
              [options]="knapsack_algos"
              optionLabel="name"
              styleClass="w-full"
              placeholder="Select a Vehicle Routing Algorithm"
            />
          </div>
          }@if(view() == 'all' || view() == 'algos' || view() ==
          'vector_search'){
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-dropdown
              formControlName="vector_search_algorithm"
              [options]="vector_search_algos"
              optionLabel="name"
              styleClass="w-full"
              placeholder="Select a Vehicle Routing Algorithm"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'number_nonces' || view() ==
    'satisfiability' || view() == 'vehicle_routing' || view() == 'knapsack' ||
    view() == 'vector_search'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Number of Nonces" class="w-full">
        <div class="p-3 pb-0">
          <h2>Number of Nonces</h2>
          @if(view() == 'all' || view() == 'number_nonces' || view() ==
          'satisfiability' ){
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-inputNumber
              inputId="satisfiability_num_nonces"
              formControlName="satisfiability_num_nonces"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'number_nonces' || view() ==
          'vehicle_routing' ){
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-inputNumber
              inputId="vehicle_routing_num_nonces"
              formControlName="vehicle_routing_num_nonces"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'number_nonces' || view() ==
          'knapsack' ){
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-inputNumber
              inputId="knapsack_num_nonces"
              formControlName="knapsack_num_nonces"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'number_nonces' || view() ==
          'vector_search' ){
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-inputNumber
              inputId="vector_search_num_nonces"
              formControlName="vector_search_num_nonces"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'weight' || view() == 'satisfiability' ||
    view() == 'vehicle_routing' || view() == 'knapsack' || view() ==
    'vector_search'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Weight" class="w-full">
        <div class="p-3 pb-0">
          <h2>Weight</h2>
          @if(view() == 'all' || view() == 'weight' || view() ==
          'satisfiability'){
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-slider
              formControlName="satisfiability_weight"
              [step]="0.1"
              [max]="1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'weight' || view() ==
          'vehicle_routing'){
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-slider
              formControlName="vehicle_routing_weight"
              [step]="0.1"
              [max]="1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'weight' || view() == 'knapsack'){
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-slider
              formControlName="knapsack_weight"
              [step]="0.1"
              [max]="1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'weight' || view() ==
          'vector_search'){
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-slider
              formControlName="vector_search_weight"
              [step]="0.1"
              [max]="1"
              styleClass="w-full"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'difficulty' || view() ==
    'satisfiability' || view() == 'vehicle_routing' || view() == 'knapsack' ||
    view() == 'vector_search'){
    <div [class]="view() == 'all' ? 'col-6' : 'col-12'">
      <div header="Difficulty" class="w-full">
        <div class="p-3 pb-0">
          <h2>Difficulty</h2>
          @if(view() == 'all' || view() == 'difficulty' || view() ==
          'satisfiability' ){
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-slider
              formControlName="satisfiability_difficulty"
              [range]="true"
              [max]="1"
              [step]="0.1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'difficulty' || view() ==
          'vehicle_routing' ){
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-slider
              formControlName="vehicle_routing_difficulty"
              [range]="true"
              [max]="1"
              [step]="0.1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'difficulty' || view() ==
          'knapsack' ){
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-slider
              formControlName="knapsack_difficulty"
              [range]="true"
              [max]="1"
              [step]="0.1"
              styleClass="w-full"
            />
          </div>
          } @if(view() == 'all' || view() == 'difficulty' || view() ==
          'vector_search' ){
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-slider
              formControlName="vector_search_difficulty"
              [range]="true"
              [max]="1"
              [step]="0.1"
              styleClass="w-full"
            />
          </div>
          }
        </div>
      </div>
    </div>
    } @if(view() == 'all' || view() == 'slaves'){
    <!-- <div header="Micro Slave Settings" class="w-full">
      <div class="col-3">
        <div class="p-3 pb-0">
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-inputNumber
              inputId="micro_slave_satisfiability"
              formControlName="micro_slave_satisfiability"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-inputNumber
              inputId="micro_slave_vehicle_routing"
              formControlName="micro_slave_vehicle_routing"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-inputNumber
              inputId="micro_slave_knapsack"
              formControlName="micro_slave_knapsack"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-inputNumber
              inputId="micro_slave_vector_search"
              formControlName="micro_slave_vector_search"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
        </div>
      </div>
      <div class="col-3">
        <h1>Small Slave Settings</h1>
        <div class="p-3 pb-0">
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-inputNumber
              inputId="small_slave_satisfiability"
              formControlName="small_slave_satisfiability"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-inputNumber
              inputId="small_slave_vehicle_routing"
              formControlName="small_slave_vehicle_routing"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-inputNumber
              inputId="small_slave_knapsack"
              formControlName="small_slave_knapsack"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Vector Search</label>
            <p-inputNumber
              inputId="small_slave_vector_search"
              formControlName="small_slave_vector_search"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
        </div>
      </div>
      <div class="col-3">
        <h1>Medium Slave Settings</h1>
        <div class="p-3 pb-0">
          <div class="field">
            <label for="firstname1">Satisfiability</label>
            <p-inputNumber
              inputId="medium_slave_satisfiability"
              formControlName="medium_slave_satisfiability"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Vehicle Routing</label>
            <p-inputNumber
              inputId="medium_slave_vehicle_routing"
              formControlName="medium_slave_vehicle_routing"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="lastname1">Knapsack</label>
            <p-inputNumber
              inputId="medium_slave_knapsack"
              formControlName="medium_slave_knapsack"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="medium_slave_vector_search">Vector Search</label>
            <p-inputNumber
              inputId="medium_slave_vector_search"
              formControlName="medium_slave_vector_search"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
        </div>
      </div>
      <div class="col-3">
        <h1>Big Slave Settings</h1>
        <div class="p-3 pb-0">
          <div class="field">
            <label for="big_slave_satisfiability">Satisfiability</label>
            <p-inputNumber
              inputId="big_slave_satisfiability"
              formControlName="big_slave_satisfiability"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="big_slave_vehicle_routing">Vehicle Routing</label>
            <p-inputNumber
              inputId="big_slave_vehicle_routing"
              formControlName="big_slave_vehicle_routing"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="big_slave_knapsack">Knapsack</label>
            <p-inputNumber
              inputId="big_slave_knapsack"
              formControlName="big_slave_knapsack"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field">
            <label for="big_slave_vector_search">Vector Search</label>
            <p-inputNumber
              inputId="big_slave_vector_search"
              formControlName="big_slave_vector_search"
              [style]="{ width: '100%' }"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
        </div>
      </div>
    </div> -->
    }
  </div>
</form>
<div class="flex justify-content-end">
  <button
    (click)="saveForm()"
    pButton
    pRipple
    label="Save"
    class="p-button-success"
  ></button>
</div>
}@else {nope}
