# Docker Configuration ...

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=benchmarker
POSTGRES_REPLICATION_USER=repl_user
POSTGRES_REPLICATION_PASSWORD=replication_secure_password

# Other configurations ....