<p-card header="Challenges">
    <p class="m-0">
      @if(challenges_data()){
          <p-table
          #benchmarksTable
          [value]="challenges_data()"
          [tableStyle]="{ 'min-width': '50rem' }"
          styleClass="p-datatable-striped"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="[
            'name',
            'pending',
            'in_progress',
            'average_time',
          ]"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <app-edit-settings-dialog [title]="'Batch Settings'" [view]="'batch_sizes'"></app-edit-settings-dialog>
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="
                    benchmarksTable.filterGlobal(
                      $any($event.target).value || '',
                      'contains'
                    )
                  "
                  placeholder="Search keyword"
                />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="age">Name <p-sortIcon field="name" /></th>
              <th pSortableColumn="pending">
                Pending <p-sortIcon field="pending" />
              </th>
              <th pSortableColumn="in_progress">
                In Progress <p-sortIcon field="in_progress" />
              </th>
              <th pSortableColumn="average_time">
                Average Time per Batch <p-sortIcon field="average_time" />
              </th>
              <th pSortableColumn="status">Last Updated <p-sortIcon field="last_updated" /></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-benchmark>
            <tr>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.name }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">            
                  {{ benchmark.pending }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.in_progress }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.average_time }} ms
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.last_updated }} 
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
      @else {
          <div class="flex w-full justify-content-center align-items-center">
              <p-progressSpinner 
      styleClass="w-4rem h-4rem" 
      strokeWidth="8" 
      fill="var(--surface-ground)" 
      animationDuration="1.5s" />
          </div>
      }
  
    </p>
  </p-card>
  <br>
  <p-card header="Mining Pool">
    <p class="m-0">
      @if(mining_panel_data()){
          <p-table
          #benchmarksTable
          [value]="mining_panel_data()"
          [tableStyle]="{ 'min-width': '50rem' }"
          styleClass="p-datatable-striped"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="[
            'challenge',
            'algorithm',
            'status',
            'age',
            'solutions',
            'difficulty',
            'submission_delay'
          ]"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <app-edit-settings-dialog [title]="'Algorithm Settings'" [view]="'algos'"></app-edit-settings-dialog>
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="
                    benchmarksTable.filterGlobal(
                      $any($event.target).value || '',
                      'contains'
                    )
                  "
                  placeholder="Search keyword"
                />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
              <th pSortableColumn="challenge">
                Challenge <p-sortIcon field="challenge" />
              </th>
              <th pSortableColumn="algorithm">
                Algorithm <p-sortIcon field="algorithm" />
              </th>
              <th pSortableColumn="solutions">
                # Solutions <p-sortIcon field="solutions" />
              </th>
              <th pSortableColumn="difficulty">
                Difficulty <p-sortIcon field="difficulty" />
              </th>
              <th pSortableColumn="submission_delay">
                Submission Delay <p-sortIcon field="submission_delay" />
              </th>
              <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-benchmark>
            <tr>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.age }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.challenge }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.algorithm }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.solutions }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.difficulty }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  {{ benchmark.submission_delay }}
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center">
                  <p-tag
                    [severity]="
                      benchmark.status == 'Completed'
                        ? 'success'
                        : benchmark.status == 'In Progress'
                        ? 'warning'
                        : 'info'
                    "
                    [value]="benchmark.status"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
      @else {
          <div class="flex w-full justify-content-center align-items-center">
              <p-progressSpinner 
      styleClass="w-4rem h-4rem" 
      strokeWidth="8" 
      fill="var(--surface-ground)" 
      animationDuration="1.5s" />
          </div>
      }
  
    </p>
  </p-card>
  <br>
  <div class="grid">
    <div class="col-6">
        <p-card header="Slaves">
            <p class="m-0">
              @if(slaves_data()){
                  <p-table
                  #benchmarksTable
                  [value]="slaves_data()"
                  [tableStyle]="{ 'min-width': '50rem' }"
                  styleClass="p-datatable-striped"
                  [paginator]="true"
                  [rows]="5"
                  [rowsPerPageOptions]="[5, 10, 20]"
                  [globalFilterFields]="[
                    'challenge',
                    'algorithm',
                    'status',
                    'age',
                    'solutions',
                    'difficulty',
                    'submission_delay'
                  ]"
                >
                  <ng-template pTemplate="caption">
                    <div class="flex">
                      <app-edit-settings-dialog [title]="'Algorithm Settings'" [view]="'algos'"></app-edit-settings-dialog>
                      <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                          <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input
                          pInputText
                          type="text"
                          (input)="
                            benchmarksTable.filterGlobal(
                              $any($event.target).value || '',
                              'contains'
                            )
                          "
                          placeholder="Search keyword"
                        />
                      </p-iconField>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
                      <th pSortableColumn="challenge">
                        Challenge <p-sortIcon field="challenge" />
                      </th>
                      <th pSortableColumn="algorithm">
                        Algorithm <p-sortIcon field="algorithm" />
                      </th>
                      <th pSortableColumn="solutions">
                        # Solutions <p-sortIcon field="solutions" />
                      </th>
                      <th pSortableColumn="difficulty">
                        Difficulty <p-sortIcon field="difficulty" />
                      </th>
                      <th pSortableColumn="submission_delay">
                        Submission Delay <p-sortIcon field="submission_delay" />
                      </th>
                      <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-benchmark>
                    <tr>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.age }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.challenge }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.algorithm }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.solutions }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.difficulty }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.submission_delay }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          <p-tag
                            [severity]="
                              benchmark.status == 'Completed'
                                ? 'success'
                                : benchmark.status == 'In Progress'
                                ? 'warning'
                                : 'info'
                            "
                            [value]="benchmark.status"
                          />
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              }
              @else {
                  <div class="flex w-full justify-content-center align-items-center">
                      <p-progressSpinner 
              styleClass="w-4rem h-4rem" 
              strokeWidth="8" 
              fill="var(--surface-ground)" 
              animationDuration="1.5s" />
                  </div>
              }
          
            </p>
          </p-card>
    </div>
    <div class="col-6">
        <p-card header="Batches">
            <p class="m-0">
              @if(batches_data()){
                  <p-table
                  #benchmarksTable
                  [value]="batches_data()"
                  [tableStyle]="{ 'min-width': '50rem' }"
                  styleClass="p-datatable-striped"
                  [paginator]="true"
                  [rows]="5"
                  [rowsPerPageOptions]="[5, 10, 20]"
                  [globalFilterFields]="[
                    'challenge',
                    'algorithm',
                    'status',
                    'age',
                    'solutions',
                    'difficulty',
                    'submission_delay'
                  ]"
                >
                  <ng-template pTemplate="caption">
                    <div class="flex">
                      <app-edit-settings-dialog [title]="'Algorithm Settings'" [view]="'algos'"></app-edit-settings-dialog>
                      <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                          <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input
                          pInputText
                          type="text"
                          (input)="
                            benchmarksTable.filterGlobal(
                              $any($event.target).value || '',
                              'contains'
                            )
                          "
                          placeholder="Search keyword"
                        />
                      </p-iconField>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="age">Age <p-sortIcon field="age" /></th>
                      <th pSortableColumn="challenge">
                        Challenge <p-sortIcon field="challenge" />
                      </th>
                      <th pSortableColumn="algorithm">
                        Algorithm <p-sortIcon field="algorithm" />
                      </th>
                      <th pSortableColumn="solutions">
                        # Solutions <p-sortIcon field="solutions" />
                      </th>
                      <th pSortableColumn="difficulty">
                        Difficulty <p-sortIcon field="difficulty" />
                      </th>
                      <th pSortableColumn="submission_delay">
                        Submission Delay <p-sortIcon field="submission_delay" />
                      </th>
                      <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-benchmark>
                    <tr>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.age }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.challenge }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.algorithm }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.solutions }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.difficulty }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          {{ benchmark.submission_delay }}
                        </div>
                      </td>
                      <td>
                        <div class="flex justify-content-center align-items-center">
                          <p-tag
                            [severity]="
                              benchmark.status == 'Completed'
                                ? 'success'
                                : benchmark.status == 'In Progress'
                                ? 'warning'
                                : 'info'
                            "
                            [value]="benchmark.status"
                          />
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              }
              @else {
                  <div class="flex w-full justify-content-center align-items-center">
                      <p-progressSpinner 
              styleClass="w-4rem h-4rem" 
              strokeWidth="8" 
              fill="var(--surface-ground)" 
              animationDuration="1.5s" />
                  </div>
              }
          
            </p>
          </p-card>
    </div>
  </div>